<!DOCTYPE html>
<html>
<head>
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h1>My Razorpay Payment</h1>
<p>Enter your payment details:</p>

<!-- Razorpay Payment Button -->
<button id="rzp-button">Pay</button>

<script>
var options = {
     "key": "{{ api_key }}", // Replace with your actual Razorpay API Key 
    "amount": "{{ amount }}", // Amount in paise, e.g., 10000 for ₹100
    "currency": "INR",
    "name": "Acme Corp", // Replace with your business name
    "description": "Test Transaction",
    "order_id": "{{ order_id }}", // Replace with the actual order ID from your Django view
    "handler": function (response){
        alert("Your payment is successful ");
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert("Your payment is failed");
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}

</script>

</body>
</html>
